html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fsb);
  font-variation-settings: 'wdth' 100;
  line-height: 1.4;
}

button,
a {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: var(--cb);
  background: none;
  border: none;
  border-bottom: 1px solid var(--cg);
  cursor: pointer;
}

button:focus,
a:focus {
  background: var(--cg);
}

button:hover,
a:hover {
  border-bottom: 1px solid var(--cb);
}

input {
  width: 100%;
  padding: var(--xs);
  font-family: inherit;
  font-size: var(--fsb);
  color: var(--cb);
  background: var(--cw);
  border: 1px solid var(--cg);
  transition: 0.2s;
  outline: none;
}

input:hover {
  background: var(--cg);
}

input:focus {
  color: var(--cw);
  background: var(--cb);
  border: 1px solid var(--cb);
}

textarea {
  width: 100%;
  min-height: 100px;
  padding: var(--xs);
  font-family: inherit;
  font-size: var(--fsb);
  color: var(--cb);
  background: var(--cw);
  border: 1px solid var(--cg);
  transition: 0.2s;
  outline: none;
  resize: none;
}

textarea:hover {
  background: var(--cg);
}

textarea:focus {
  color: var(--cw);
  background: var(--cb);
  border: 1px solid var(--cb);
}
